/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

/* 共通シーンスタイル */
.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: opacity 0.5s;
}

.hidden {
    display: none !important;
}

/* ログインシーン */
#loginScene {
    background-color: black;
    color: white;
    position: relative;
}

.login-content {
    text-align: center;
}

.login-icon {
    width: 70px;
    margin: 20px;
}

#password {
    margin-top: 60px;
    padding: 10px;
}

#loginButton {
    background-color: #ddd;
    border: none;
    padding: 9px 18px;
}

.forgot-password {
    margin-top: 10px;
    font-size: 0.6em;
    color: #aaa;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 0.5s linear 2;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.fade-out {
    animation: fade-out 0.3s linear;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

/* デスクトップシーン */
#desktopScene {
    background-image: url(image/background.png);
    background-size: cover;
    padding: 0;
    animation: fade-in 0.3s linear;
    animation-fill-mode: forwards;
}

#desktopScene.fade-out {
    animation: fade-out 0.3s linear;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.desktop-icons {
    display: flex;
    gap: 40px;
    height: 90%;
    width: 90%;
    padding: 20px;
    margin-top: 0;
    margin-left: 0;
    align-items: flex-start;
}

.app-icon {
    width: 80px;
    height: 120px;
    text-align: center;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    filter: drop-shadow(2px 6px 3px rgb(51 51 51/0.1));
}

.app-icon-img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

/* トークシーン */
#talkScene {
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
    animation: fade-in 0.3s linear;
    animation-fill-mode: forwards;
}

#talkScene.fade-out {
    animation: fade-out 0.3s linear;
    animation-fill-mode: forwards;
}


.left-panel {
    width: 30%;
    height: 100%;
    background-color: #444;
    color: #fff;
    padding: 0;
    position: relative;
}

.right-panel {
    width: 70%;
    height: 100%;
    padding-bottom: 60px;
    background-color: #d8e4e8;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 60px;
}

.left-panel .header {
    background-color: #29d042;
    color: white;
}

.right-panel .header {
    background-color: #aecad5;
    color: black;
}

#lienName {
    margin-left: auto;
    margin-right: 10px;
}

#contactName {
    margin: auto;
}

.back-button {
    padding: 5px 7px;
    margin-right: 20px;
    background-color: transparent;
    color: #fff;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.user-icon {
    height: 30px;
}

.settings-icon {
    height: 30px;
    margin: 0 10px 0 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #222;
}

.right-panel .footer {
    background-color: #444;
}

.menu-icon {
    opacity: 0.8;
    height: 30px;
}

.no-internet {
    background-color: #666;
    color: #ccc;
    border-radius: 10px;
    width: calc(100% - 240px);
    padding: 10px 20px;
}

.latest-message {
    color: #ccc;
    margin-top: 5px;
    font-size: 12px;
}

.contact-list {
    height: calc(100% - 60px);
    padding-bottom: 60px;
    overflow-y: auto;
    scrollbar-color: #fff transparent;
}

.contact-button {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid #555;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-button:hover {
    background-color: #444;
}

.contact-button p {
    max-height: 40px;
    overflow-y: hidden;
}

.contact-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-color: #fff transparent;
}

.chat-message {
    padding: 10px;
    margin: 30px auto;
    width: 60%;
    border-radius: 10px;
    position: relative;
}

.right {
    background-color: #20e13d;
    margin-right: 60px;
}

.left {
    background-color: #ffffff;
    margin-left: 60px;
}

.chat-message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
}

.right img {
    right: -40px;
}

.left img {
    left: -40px;
}

.chat-message p {
    font-size: 10px;
    position: absolute;
    top: -20px;
}

.right p {
    right: 0px;
}

.left p {
    left: 0px;
}
